* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.about {
  margin-left: 5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checklist-container {
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.dropdown-info {
  width: 25%;
}

.dropdowns {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5rem;
}

/*Can convert to REM later*/

#dd-province-output-container {
  position: absolute;
  top: 155px;
  left: 570px;
  width: 220px;
  height: 60px;
  background-color: transparent;
}
#dd-time-output-container {
  position: absolute;
  top: 190px;
  left: 570px;
  width: 220px;
  height: 40px;
  background-color: transparent;
}

#checklist {
  margin-top: 15px;
}

#checklist label {
  padding-right: 20px;
  padding-top: 8px;
}

#checklist input {
  padding-right: 20px;
}

.banner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 80px;
  background: rgb(226, 221, 221);
  padding-left: 4rem;
}

.banner h2:hover {
  color: blue;
  text-shadow: crimson;
  cursor: pointer;
}

.banner h2 {
  padding-left: 15px;
  padding-top: 25px;
  width: 30%;
  left: 50%;
}

.resize {
  position: absolute;
  top: 5px;
  left: 540px;
  height: 60px;
  width: auto;
}

.resize2 {
  position: absolute;
  top: -2px;
  right: 13px;
  width: 80px;
  height: auto;
}

.mapbox {
  position: absolute;
  width: 60%;
  top: 1000px;
}

.info-box {
  position: absolute;
  top: 138px;
  left: 570px;
  width: 230px;
  height: 4px;
  background-color: rgb(0, 0, 0);
}

.info-header {
  padding-left: 20px;
  padding-top: 15px;
  position: absolute;
  top: 80px;
  left: 550px;
  width: 200px;
}

.graph-header-container {
  z-index: -1;
  width: 38.3%;
  display: inline-block;
  position: absolute;
  height: 50px;
  top: 295px;
  margin-left: 5%;
  background-color: rgb(162, 244, 247);
}
.graph-header {
  width: 25%;
  display: inline-block;
  position: absolute;
  top: 307px;
  padding-left: 14.5%;
  background: transparent;
}
.bar-header-container {
  z-index: -1;
  width: 34%;
  margin-right: 7%;
  display: inline-block;
  float: right;
  top: 100px;
  height: 80px;
  background-color: rgb(162, 244, 247);
  position: absolute;
}

.bar-header {
  float: right;
  display: inline-block;
  position: absolute;
  top: 110px;
  width: 36%;
  right: 0px;
}

#graph-container {
  width: 53%;
  display: inline-block;
  position: relative;
  top: 75px;
  margin-left: 0px;
  float: left;
}

#bar-container {
  width: 43%;
  display: inline-block;
  float: right;
  top: 145px;
  margin-right: 0px;
  position: absolute;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  margin-top: 50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
