  *{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .dropdown-info {
    width: 25%;
  }
  
  .dropdowns {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20 px;
  }
  
  .banner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 80px;
    background: rgb(156, 151, 151);
    padding: 0;
    margin: 0;
  }
  
  .banner h2 {
    padding-left: 15px;
    padding-top: 20px;
  }
  
  #graph {
    width: 60%;
    margin-top: 0%;
    float: right;
  }
  